
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <title>@ViewBag.Title - Bienvenue sur partage collaboratif</title>
    @Styles.Render("~/Content/custom_css")
    @Scripts.Render("~/bundles/custom_js")
    <!-- meta tags -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- //meta tags -->
    <!--fonts-->
    <link href='//fonts.googleapis.com/css?family=Ubuntu+Condensed' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
    <!--//fonts-->
    <!-- js -->
    <!-- js -->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script>
        $(document).ready(function () {
            var mySelect = $('#first-disabled2');

            $('#special').on('click', function () {
                mySelect.find('option:selected').prop('disabled', true);
                mySelect.selectpicker('refresh');
            });

            $('#special2').on('click', function () {
                mySelect.find('option:disabled').prop('disabled', false);
                mySelect.selectpicker('refresh');
            });

            $('#basic2').selectpicker({
                liveSearch: true,
                maxOptions: 1
            });
        });
    </script>
    <!-- language-select -->
    <script>
        $(document).ready(function () {
            $('.uls-trigger').uls({
                onSelect: function (language) {
                    var languageName = $.uls.data.getAutonym(language);
                    $('.uls-trigger').text(languageName);
                },
                quickList: ['en', 'hi', 'he', 'ml', 'ta', 'fr'] //FIXME
            });
        });
    </script>
    <!-- //language-select -->
    <!-- switcher-grid and list alignment -->
    <script type="text/javascript">
        $(document).ready(function () {
            var elem = $('#container ul');
            $('#viewcontrols a').on('click', function (e) {
                if ($(this).hasClass('gridview')) {
                    elem.fadeOut(1000, function () {
                        $('#container ul').removeClass('list').addClass('grid');
                        $('#viewcontrols').removeClass('view-controls-list').addClass('view-controls-grid');
                        $('#viewcontrols .gridview').addClass('active');
                        $('#viewcontrols .listview').removeClass('active');
                        elem.fadeIn(1000);
                    });
                }
                else if ($(this).hasClass('listview')) {
                    elem.fadeOut(1000, function () {
                        $('#container ul').removeClass('grid').addClass('list');
                        $('#viewcontrols').removeClass('view-controls-grid').addClass('view-controls-list');
                        $('#viewcontrols .gridview').removeClass('active');
                        $('#viewcontrols .listview').addClass('active');
                        elem.fadeIn(1000);
                    });
                }
            });
        });
    </script>
    <!-- //switcher-grid and list alignment -->
</head>
<body>

    <!-- BEGIN HEADER -->
    <header>
        <div class="container">
            <div class="agile-its-header">
                <div class="logo">
                    <h1><a href="@Url.Action("Index", "Home")"><span>Partage</span>CO</a></h1>
                </div>
                <div class="agileits_search">
                    @if (!Request.IsAuthenticated)
                    {
                        @Html.ActionLink("Se connecter", "Login", "Authentication", "", new { @class = "post-w3layouts-ad", @style = "margin-right: 10px;" })
                    }
                    else
                    {
                        @Html.ActionLink("Admin", "Index", "Home", new { area = "Admin" }, new { @class = "post-w3layouts-ad", @target = "_blanck" })
                        @Html.ActionLink("Mon compte", "Account", "User", "", new { @class = "post-w3layouts-ad", @style = "margin-right: 10px;" })
                        @Html.ActionLink("Deconnexion", "Logout", "Authentication", "", new { @class = "post-w3layouts-ad", @style = "margin-right: 10px;" })

                    }
                    @Html.ActionLink("Chercher", "Index", "Home", "", new { @class = "post-w3layouts-ad", @style = "margin-right: 10px;" })
                    @Html.ActionLink("Poster une annonce", "Create", "Product", "", new { @class = "post-w3layouts-ad", @style = "margin-right: 10px;" })
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </header>

    @if (ViewBag.alert != null && ViewBag.alert != "")
    {
        <div class="container" style="margin-top: 20px;">
            <div class="alert alert-success" role="alert">
                @ViewBag.alert
            </div>
        </div>
    }

    @RenderBody()

    <footer>
        <div class="w3-agileits-footer-top">
            <div class="container">
                <div class="wthree-foo-grids">
                    <div class="col-md-3 wthree-footer-grid">
                        <h4 class="footer-head">Who We Are</h4>
                        <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
                        <p>The point of using Lorem Ipsum is that it has a more-or-less normal letters, as opposed to using 'Content here.</p>
                    </div>
                    <div class="col-md-3 wthree-footer-grid">
                        <h4 class="footer-head">Help</h4>
                        <ul>
                            <li><a href="howitworks.html"><i class="fa fa-long-arrow-right" aria-hidden="true"></i>How it Works</a></li>
                            <li><a href="sitemap.html"><i class="fa fa-long-arrow-right" aria-hidden="true"></i>Sitemap</a></li>
                            <li><a href="faq.html"><i class="fa fa-long-arrow-right" aria-hidden="true"></i>Faq</a></li>
                            <li><a href="feedback.html"><i class="fa fa-long-arrow-right" aria-hidden="true"></i>Feedback</a></li>
                            <li><a href="contact.html"><i class="fa fa-long-arrow-right" aria-hidden="true"></i>Contact</a></li>
                            <li><a href="typography.html"><i class="fa fa-long-arrow-right" aria-hidden="true"></i>Short codes</a></li>
                            <li><a href="icons.html"><i class="fa fa-long-arrow-right" aria-hidden="true"></i>Icons Page</a></li>
                        </ul>
                    </div>
                    <div class="col-md-3 wthree-footer-grid">
                        <h4 class="footer-head">Information</h4>
                        <ul>
                            <li><a href="regions.html"><i class="fa fa-long-arrow-right" aria-hidden="true"></i>Locations Map</a></li>
                            <li><a href="terms.html"><i class="fa fa-long-arrow-right" aria-hidden="true"></i>Terms of Use</a></li>
                            <li><a href="popular-search.html"><i class="fa fa-long-arrow-right" aria-hidden="true"></i>Popular searches</a></li>
                            <li><a href="privacy.html"><i class="fa fa-long-arrow-right" aria-hidden="true"></i>Privacy Policy</a></li>
                        </ul>
                    </div>
                    <div class="col-md-3 wthree-footer-grid">
                        <h4 class="footer-head">Contact Us</h4>
                        <span class="hq">Our headquarters</span>
                        <address>
                            <ul class="location">
                                <li><span class="glyphicon glyphicon-map-marker"></span></li>
                                <li>CENTER FOR FINANCIAL ASSISTANCE TO DEPOSED NIGERIAN ROYALTY</li>
                            </ul>
                            <div class="clearfix"> </div>
                            <ul class="location">
                                <li><span class="glyphicon glyphicon-earphone"></span></li>
                                <li>+0 561 111 235</li>
                            </ul>
                            <div class="clearfix"> </div>
                            <ul class="location">
                                <li><span class="glyphicon glyphicon-envelope"></span></li>
                                <li><a href="mailto:info@example.com">mail@example.com</a></li>
                            </ul>
                        </address>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <div class="agileits-footer-bottom text-center">
            <div class="container">
                <div class="w3-footer-logo">
                    <h1><a href="index.html"><span>Partage</span>CO</a></h1>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </footer>
    <!--footer section end-->
    <!-- Navigation-JavaScript -->
    @RenderSection("scripts", required: false)
    <!-- //Navigation-JavaScript -->
    <!-- here stars scrolling icon -->
    <script type="text/javascript">
        $(document).ready(function () {
            /*
                var defaults = {
                containerID: 'toTop', // fading element id
                containerHoverID: 'toTopHover', // fading element hover id
                scrollSpeed: 1200,
                easingType: 'linear'
                };
            */

            $().UItoTop({ easingType: 'easeOutQuart' });

        });
    </script>
    <!-- start-smoth-scrolling -->
    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {
                event.preventDefault();
                $('html,body').animate({ scrollTop: $(this.hash).offset().top }, 1000);
            });
        });
    </script>
    <!-- start-smoth-scrolling -->
    <!-- //here ends scrolling icon -->
</body>
</html>
