@model SitePartage.Models.Product

@{
    ViewBag.Title = "Annonce";
}

<div class="single-page main-grid-border ">
    <div class="container">
        <div class="product-desc">
            <div class="col-md-7 product-view">
                <h2>@Html.DisplayFor(model => model.Name)</h2>
                <p>
                    Annonce n° : @Html.DisplayFor(model => model.ProductID)<br />
                    Loueur : @Html.DisplayFor(model => model.User.FirstName) @Html.DisplayFor(model => model.User.LastName)<br />
                    Type : @Html.DisplayFor(model => model.Type)
                </p>
                <img src="@Html.DisplayFor(model => model.Picture)" alt="@Html.DisplayFor(model => model.Name)" title="@Html.DisplayFor(model => model.Name)"
                     style="display: block; margin-left: auto; margin-right: auto; width: 60%; margin-bottom: 40px; margin-top:40px; max-height:400px; max-width: 400px;" />
                <div class="product-details">
                    <h4>
                        <span class="w3layouts-agileinfo">Description</span> :
                        <p>@Html.DisplayFor(model => model.Description)</p>
                        <div class="clearfix"></div>
                    </h4>

                </div>
            </div>
            <div class="col-md-5 product-details-grid">
                <div class="item-price">
                    <div class="product-price">
                        <p class="p-price">Coût</p>
                        <h3 class="rate">@Html.DisplayFor(model => model.Cost) points</h3>
                        <div class="clearfix"></div>
                    </div>
                    <div class="condition">
                        <p class="p-price">Catégorie</p>
                        <h4>@Html.DisplayFor(model => model.Category.Name)</h4>
                        <div class="clearfix"></div>
                    </div>
                    <div class="itemtype">
                        <p class="p-price">Poids</p>
                        <h4>@Html.DisplayFor(model => model.Weight) kg</h4>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="interested text-center">
                    @if (Model.Status == "leasing")
                    {
                        <h4>
                            Produit en cours de location...
                        </h4>
                    }
                    else if (Model.Status == "online" && !@ViewBag.isMyProd)
                    {
                        <h4>
                            Intéressé par cette annonce ?
                            <br /><br />
                            <button class="btn-lg" data-toggle="modal" data-target="#myModal2">Contacter le loueur !</button>
                        </h4>
                    }
                    else
                    {
                        <h4>
                            Produit indisponible
                        </h4>
                    }
                    </div>
                <div class="agileinfo_signin" style="box-shadow: 0px 0px 0px">
                    <div class="modal fade" id="myModal2" role="dialog">
                        <div class="modal-dialog">
                            <!-- Modal content-->
                            <div class="modal-dialog modal-lg">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        <h3 class="w3ls-password">Demander la location</h3>
                                        <br />
                                        @using (Html.BeginForm("Create", "Leasing", FormMethod.Post))
                                        {
                                            @Html.AntiForgeryToken()
                                            <input class="form-control text-box single-line user" data-val="true" data-val-number="Le champ Durée doit être un nombre." id="Duration" name="Duration" type="number" value="" placeholder="Nombre de jours" required>
                                            <br />
                                            <input class="form-control text-box single-line user" id="Message" name="Message" type="text" value="" placeholder="Votre message" required>
                                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                            <input class="btn" type="submit" value="Envoyer la demande">
                                            <input type="hidden" name="ProductID" value="@ViewBag.ProductID" />
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
