@model IEnumerable<SitePartage.Models.Product>

@if (Request.Params["Status"] == "to_validate")
{
    ViewBag.Title = "Propositions de produits";
    <h2>Propositions de produits</h2>
}
else
{
    ViewBag.Title = "Liste des produits";
    <h2>Liste des produits</h2>
}
    <br />
<p>
    @using (Html.BeginForm("Index", "Product", FormMethod.Get))
    {
    <p>
        Nom : @Html.TextBox("SearchString") <br /><br />

        Etat : @Html.DropDownList("Status", "Tous") <br /><br />

        <input type="submit" value="Filter" />
    </p>
}
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cost)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Weight)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cost)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Type)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Weight)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.User.LastName)
                </td>
                <td>
                    @if (Request.Params["Status"] == "to_validate")
                    {
                        @Html.ActionLink("Valider / Refuser", "Edit", new { id = item.ProductID })
                    }
                    else
                    {
                        @Html.ActionLink("Modifier", "Edit", new { id = item.ProductID })
                    }

                    @Html.ActionLink("Détails", "Details", new { id = item.ProductID })
                </td>
            </tr>
        }

    </table>
