@model SitePartage.Models.LoginViewModel

@{
    ViewBag.Title = "Connexion";
}


<section>
    <div id="agileits-sign-in-page" class="sign-in-wrapper">
        <div class="agileinfo_signin">
            <h3>Connexion</h3>
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                @Html.EditorFor(model => model.Login, new { htmlAttributes = new { @placeholder = "Email" } })
                @Html.ValidationMessageFor(model => model.Login, "", new { @class = "text-danger" })
                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { placeholder = "Mot de passe" } })
                <input type="submit" value="Se connecter">
            }
            <h6>Pas encore membre ? <a href="@Url.Action("Create", "User")">Inscrivez-vous !</a> </h6>
        </div>
    </div>
</section>
