@model SitePartage.Models.User
@using SitePartage.Models;
@{
    ViewBag.Title = "Mon compte";

    List<Product> products = ViewData["products"] as List<Product>;
    List<Leasing> Leasings = ViewData["Leasings"] as List<Leasing>;
    List<Leasing> offers = ViewData["offers"] as List<Leasing>;
}

<div class="categories-section main-grid-border ">
    <div class="container">
        <h2 class="w3-head">Mon compte <i>(@ViewBag.nbPoint points)</i></h2>
        <div class="category-list">
            <div id="parentVerticalTab">
                <div class="agileits-tab_nav">
                    <ul class="resp-tabs-list hor_1">
                        <li>Mes informations</li>
                        <li>Mes annonces</li>
                        <li>Offres reçues</li>
                        <li>Mes locations</li>
                    </ul>
                </div>
                <div class="resp-tabs-container hor_1">

                    <div>
                        <div class="category" style="border-bottom: 0px solid white">
                            <span class="active total" style="display:block;">
                                <strong>Mes informations</strong>
                            </span>
                            <div class="post-ad-form">
                                @using (Html.BeginForm())
                                {
                                    @Html.AntiForgeryToken()

                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                    @Html.HiddenFor(model => model.UserID)

                                    @Html.LabelFor(model => model.LastName)
                                    @Html.EditorFor(model => model.LastName)
                                    @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                                    <div class="clearfix"></div>

                                    @Html.LabelFor(model => model.FirstName)
                                    @Html.EditorFor(model => model.FirstName)
                                    @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                                    <div class="clearfix"></div>

                                    @Html.LabelFor(model => model.Civility)
                                    @Html.EditorFor(model => model.Civility)
                                    @Html.ValidationMessageFor(model => model.Civility, "", new { @class = "text-danger" })
                                    <div class="clearfix"></div>

                                    @Html.LabelFor(model => model.NickName)
                                    @Html.EditorFor(model => model.NickName)
                                    @Html.ValidationMessageFor(model => model.NickName, "", new { @class = "text-danger" })
                                    <div class="clearfix"></div>

                                    @Html.LabelFor(model => model.Email)
                                    @Html.EditorFor(model => model.Email)
                                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                                    <div class="clearfix"></div>

                                    @Html.LabelFor(model => model.Password)
                                    @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", @type = "password" } })
                                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                                    <div class="clearfix"></div>

                                    @Html.LabelFor(model => model.Address)
                                    @Html.EditorFor(model => model.Address)
                                    @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                                    <div class="clearfix"></div>

                                    @Html.LabelFor(model => model.PostalCode)
                                    @Html.EditorFor(model => model.PostalCode)
                                    @Html.ValidationMessageFor(model => model.PostalCode, "", new { @class = "text-danger" })
                                    <div class="clearfix"></div>

                                    @Html.LabelFor(model => model.City)
                                    @Html.EditorFor(model => model.City)
                                    @Html.ValidationMessageFor(model => model.City, "", new { @class = "text-danger" })

                                    <input class="btn btn-primary" type="submit" value="Enregistrer">
                                    <div class="clearfix"></div>
                                }
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="category">
                            <span class="active total" style="display:block;">
                                <strong>Mes annonces</strong>
                            </span>
                        </div>

                        @foreach (var product in products)
                        {
                            <div class="category">
                                <div class="category-img">
                                    <img src="@product.Picture" title="@product.Name" alt="@product.Name" />
                                </div>
                                <div class="category-info" style="width: 70%">
                                    <h4>@product.Name</h4>
                                    <br />
                                    <a class="btn btn-default" href="@Url.Action("Edit", "Product", new { id = product.ProductID })">Modifier</a>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        }
                    </div>
                    <div>
                        <div class="category">
                            <span class="active total" style="display:block;">
                                <strong>Offres reçues</strong>
                            </span>
                        </div>
                        @foreach (var offer in offers)
                        {
                            <div class="category">
                                <div class="category-img">
                                    <img src="@offer.Product.Picture" title="@offer.Product.Name" alt="@offer.Product.Name" />
                                </div>
                                <div class="category-info" style="width: 70%">
                                    <h4>@offer.Product.Name</h4>
                                    <br />
                                    Message de @offer.User.FirstName @offer.User.LastName : <i><span>@offer.Message</span></i>

                                    @if (offer.Status == "to_validate")
                                    {
                                       <div style="display:inline;width: 20%;float: left;">
                                        @using(Html.BeginForm("Accept", "Leasing"))
                                        {
                                            @Html.AntiForgeryToken()
                                            @Html.Hidden("LeasingID", @offer.LeasingID)
                                            <input class="btn btn-success" type="submit" value="Accepter">
                                        }
                                       </div>
                                       <div style="display:inline;float: left;">
                                       @using(Html.BeginForm("Refuse", "Leasing"))
                                           {
                                           @Html.AntiForgeryToken()
                                           @Html.Hidden("LeasingID", @offer.LeasingID)
                                           <input class="btn btn-danger" type="submit" value="Refuser">
                                           }
                                       </div>
                                    }
                                    else if (offer.Status == "in_progress")
                                    {
                                        <span class="badge badge-success" style="width: 30%"><span style="color: white">Acceptée</span></span>
                                    }
                                    else if (offer.Status == "refused")
                                    {
                                        <span class="badge badge-danger" style="width: 30%"><span style="color: white">Refusée</span></span>
                                    }
                                    else if (offer.Status == "completed")
                                    {
                                        <span class="badge badge-secondary" style="width: 30%"><span style="color: white">Terminée</span></span>
                                    }
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        }
                    </div>

                    <div>
                        <div class="category">
                            <span class="active total" style="display:block;">
                                <strong>Mes locations</strong>
                            </span>
                        </div>
                        @foreach (var leasing in Leasings)
                        {
                            <div class="category">
                                <div class="category-img">
                                    <img src="@leasing.Product.Picture" title="@leasing.Product.Name" alt="@leasing.Product.Name" />
                                </div>
                                <div class="category-info" style="width: 70%">
                                    <h4>@leasing.Product.Name</h4>
                                    <br />
                                    Mon message : <i><span>@leasing.Message</span></i>

                                    @if (leasing.Status == "to_validate")
                                    {
                                        <span class="badge badge-secondary" style="width: 30%"><span style="color: white">En attente</span></span>
                                    }
                                    else if (leasing.Status == "in_progress")
                                    {
                                        <span class="badge badge-success" style="width: 30%"><span style="color: white">Acceptée</span></span>
                                    }
                                    else if (leasing.Status == "refused")
                                    {
                                        <span class="badge badge-danger" style="width: 30%"><span style="color: white">Refusée</span></span>
                                    }
                                    else if (leasing.Status == "completed")
                                    {
                                        <span class="badge badge-secondary" style="width: 30%"><span style="color: white">Terminée</span></span>
                                    }
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        }
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Plug-in Initialisation-->
<script type="text/javascript">
    $(document).ready(function () {

        //Vertical Tab
        $('#parentVerticalTab').easyResponsiveTabs({
            type: 'vertical', //Types: default, vertical, accordion
            width: 'auto', //auto or any width like 600px
            fit: true, // 100% fit in a container
            closed: 'accordion', // Start closed if in accordion view
            tabidentify: 'hor_1', // The tab groups identifier
            activate: function (event) { // Callback function if tab is switched
                var $tab = $(this);
                var $info = $('#nested-tabInfo2');
                var $name = $('span', $info);
                $name.text($tab.text());
                $info.show();
            }
        });
    });
</script>