@model Tuple<SitePartage.Models.Product, SitePartage.Models.Category>
@using SitePartage.Models;
@{
    ViewBag.Title = "Home Page";
    List<Category> categories = ViewData["categories"] as List<Category>;
    List<Product> products = ViewData["products"] as List<Product>;
    List<Product> randomProducts = ViewData["randomProducts"] as List<Product>;
    int? categorysize = ViewData["categorySize"] as int?;

}

<div class="total-ads main-grid-border">

    <div class="w3-categories">
        <h3>Catégories</h3>
        <div class="container">

            @foreach (var category in categories)
            {
                <div class="col-md-@categorysize">
                    <div class="focus-grid w3layouts-boder1">
                        <a class="btn-8" href="@Url.Action("Index", "Home", new { categoryID = @category.CategoryID })">
                            <div class="focus-border">
                                <div class="focus-layout">
                                    <div class="focus-image"><i class="@category.Picture"></i></div>
                                    <h4 class="clrchg">@category.Name</h4>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            }
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="container">
        <div class="ads-grid">
            <div class="side-bar col-md-3">
                <div class="search-hotel">
                    <h3 class="agileits-sear-head">Filtrer par mots clés</h3>
                    @using (Html.BeginForm("Index", "Home", FormMethod.Get))
                    {
                        @Html.TextBox("SearchString", "", new { @placeholder = "tondeuse, marteau...", @required = "required" }) <br />
                        <br /><input type="submit" value=" " />
                    }
                </div>

                <div class="w3ls-featured-ads">
                    <h2 class="sear-head fer">Annonces aléatoires</h2>
                        @foreach (var randomProduct in randomProducts)
                        {
                            <div class="w3l-featured-ad">
                                <a href="@Url.Action("Details", "Product", new { id = randomProduct.ProductID })">
                                    <div class="w3-featured-ad-left">
                                        <img src="@randomProduct.Picture" title="@randomProduct.Name" alt="@randomProduct.Name" />
                                    </div>
                                    <div class="w3-featured-ad-right">
                                        <h4>@randomProduct.Name</h4>
                                        <p>@randomProduct.Cost points</p>
                                    </div>
                                    <div class="clearfix"></div>
                                </a>
                            </div>
                        }
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="agileinfo-ads-display col-md-9">
                <div class="wrapper">
                    <div class="bs-example bs-example-tabs" role="tabpanel" data-example-id="togglable-tabs">
                        <div id="myTabContent" class="tab-content">
                            <div role="tabpanel" class="tab-pane fade in active" id="home" aria-labelledby="home-tab">
                                <div>
                                    <div id="container">
                                        <div class="clearfix"></div>
                                        <ul class="list">
                                            @foreach (var product in products)
                                            {
                                                <a href="@Url.Action("Details", "Product", new { id = product.ProductID })">
                                                    <li>
                                                        <img src="@product.Picture" title="" alt="" />
                                                        <section class="list-left">
                                                            <h5 class="title">@product.Name</h5>
                                                            <span class="adprice">@product.Cost points</span>
                                                            <p class="catpath">@product.Category.Name</p>
                                                        </section>
                                                        <section class="list-right">
                                                            <span class="date">Loueur : @product.User.FirstName @product.User.LastName</span>
                                                        </section>
                                                        <div class="clearfix"></div>
                                                    </li>
                                                </a>
                                            }
                                            <div class="clearfix"></div>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>